.container{
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

.formulario_usuario{
  width:50%;
  max-width: 450px;
}

::ng-deep .p-card {
  /* border: 2px solid red; */
  min-height: calc(100vh - 150px);
}

#cancelarbtn{
  margin-left: 0.5em
}