<div class="wrapper">
  <div class="container">
    <div class="card">
      <div class="img">
        <img src="../../../../../assets/img/profile-2.png" />
      </div>
      <div class="top-text">
        <div class="name">Angular</div>
        <p>Frontend Framework</p>
      </div>
      <div class="bottom-text">
        <div class="text">
          Framework para aplicaciones web desarrollado en TypeScript, de código
          abierto, mantenido por Google, que se utiliza para crear y mantener
          aplicaciones web de una sola página.
        </div>
        <div class="btn">
          <a href="https://es.wikipedia.org/wiki/Angular_(framework)"
            >Leer Mas</a
          >
        </div>
      </div>
    </div>
    <div class="card">
      <div class="img">
        <img src="../../../../../assets/img/profile-1.png" />
      </div>
      <div class="top-text">
        <div class="name">Sena</div>
        <p>ADSI</p>
      </div>
      <div class="bottom-text">
        <div class="text">
          Proyecto tutorial de ventas web usando el patron MVC, los frameworks Angular
          y Spring con base de datos MySQL.
        </div>
        <div class="btn">
          <a href="#">Bienvenido</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="img">
        <img src="../../../../../assets/img/profile-3.svg" />
      </div>
      <div class="top-text">
        <div class="name">Spring</div>
        <p>Backend Framework</p>
      </div>
      <div class="bottom-text">
        <div class="text">
          Framework para el desarrollo de aplicaciones y contenedor de inversión
          de control, de código abierto para la plataforma Java.
        </div>
        <div class="btn">
          <a href="https://es.wikipedia.org/wiki/Spring_Framework">Leer Mas</a>
        </div>
      </div>
    </div>
  </div>
</div>
