nav {
  background: mediumaquamarine;
  width: 100%;
  height: 80px;
  overflow: hidden;
}

label.logo {
  color: white;
  font-size: 36px;
  line-height: 80px;
  padding: 0 10px;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul {
  float: right;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}

#btn_usuario {
  margin: 20px 0;
}

::ng-deep .p-menu .p-menuitem-link {
  justify-content: center;
}

nav ul li a {
  color: white;
  font-size: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  padding: 7px 13px;
  border-radius: 3px;
}

a.active,
a:hover {
  transition: all 0.5s;
  background: #00b7c3;
}

a:hover {
  text-decoration: underline;
}

a.active {
  text-decoration: none;
}

#check {
  display: none;
}

.checkbtn {
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

@media (max-width: 857px) {
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 100%;
    height: calc(100vh - 80px);
    background: #2c3e50;
    top: 80px;
    left: 100%;
    text-align: center;
    transition: all 0.5s;
    z-index: 9999;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  a:hover,
  a.active {
    background: none;
    color: #0082e6;
  }

  #check:checked ~ ul {
    left: 0;
  }
}

section {
  height: calc(100vh - 80px);
}
